MEMORY {
    ZP:         start = $0000, size = $0100, type = rw, define = yes;

    # NSF Header
    HEADER:     start = $0000, size = $0010, file = "", fill = yes;

    # 2 16K ROM Banks
    # - startup
    # - code
    # - rodata
    # - data (load)
    ROM0:       start = $8000, size = $4000, file = "dsp_vrc6_code.bin", fill = no;
    
	#//  8k ROM Banks
	#// - DPCM data
	ROM1:       start = $c000, size = $3d00, file = "", fill = yes, define = yes;
	
	# Startup Code
	ROM2:       start = $fd00, size = $02fa, file = "dsp_vrc6_data.bin", fill = yes;

    # Hardware Vectors at End of 2nd 8K ROM
    ROMV:       start = $fffa, size = $0006, file = "dsp_vrc6_data.bin", fill = yes;

    # 1 8k CHR Bank
    ROMC:       start = $0000, size = $2000, file = "dsp_vrc6_data.bin", fill = yes;

    # standard 2k SRAM (-zeropage)
    # $0100-$0200 cpu stack
    # $0200-$0600 ram
    STACK:      start = $0100, size = $0200,         type = rw, define = yes;
    RAM:        start = $0200, size = $0600,         type = rw, define = yes;

    # additional 8K SRAM Bank
#   SRAM:       start = $6000, size = $2000, type = rw, define = yes;
}

SEGMENTS {
    HEADER:     load = HEADER,          type = ro;
    CODE:       load = ROM0,            type = ro,  define = yes;
    MUSDATA:    load = ROM0,            type = ro,  define = yes;
    PCMDATA:    load = ROM1,            type = ro,  define = yes;
    STARTUP:    load = ROM2,            type = ro,  define = yes;
    LOWCODE:    load = ROM2,            type = ro,                optional = yes;
    INIT:       load = ROM2,            type = ro,  define = yes, optional = yes;
    RODATA:     load = ROM2,            type = ro,  define = yes;
    VECTORS:    load = ROMV,            type = rw;
    CHARS:      load = ROMC,            type = rw;
    BSS:        load = RAM,             type = bss, define = yes;
    ZEROPAGE:   load = ZP,              type = zp;
}
